<!-- Footer -->
<div id="footer-wrapper">
	<!-- Контейнер для футера -->
	<div class="container">
		<!-- Контейнер для вмісту футера -->
		<div class="row">
			<!-- Рядок для розміщення елементів футера -->
			<div class="col-12">
				<!-- Колонка, яка займає всю ширину рядка -->
				<div id="copyright">
					<!-- Секція з авторськими правами -->
					&copy; @Config.CompanyName. All rights reserved. | Design: <a href="http://html5up.net">HTML5 UP</a>
					<!-- Виведення назви компанії та інформації про дизайн -->
				</div>
			</div>
		</div>
	</div>
</div>
